.nav_wrapper {
  background-color: white !important;
  justify-content: center !important;
  font-family: Tahoma !important;
  padding: 90px 10px;
  transition: 0.4s;
  box-shadow: 0 1px 5px #968c83;
}

.brandWrapper {
  justify-content: center !important;
  display: flex;
  @media (max-width: 991px) {
    justify-content: flex-start !important;
  }

  .brand {
    font-size: x-large !important;
    font-weight: bold;
    color: #373a40 !important;
    text-transform: uppercase;

  }

}

.toggle {
  font-size: smaller !important;
  text-transform: uppercase;
  padding: 12px !important;
  font-weight: bold;
  color: white !important;
  border-color: white !important;
}

.nav_container {
  justify-content: center !important;
  align-items: center !important;
  display: flex;
  @media (max-width: 991px) {
    justify-content: flex-start !important;
  }

  .route {
    font-size: medium !important;
    color: black !important;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2rem;
  }

  .route:hover {
    color: #686d76 !important;
  }

  .switchIcon {
    //margin-right: auto;
    //margin-left:auto
    padding-top: 0.5rem;
    margin-left: 50%;
  }
}
